<style>
    .tab{
        margin-left: 15px;
        font-weight: bold;
    }

</style>
<link rel="stylesheet" type="text/css" href="stylesheets/app.css">
<div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header">
            <div class="avatar">
                <img src="images/admin.jpg" alt=""/>
            </div>
            <div class="title">Trương Quang Long</div>
        </div>
        <div class="menu-html">
            <input id="tab-1" type="radio" name="tab" class="info" checked ><label for="tab-1" class="tab" style="margin-left: 35px; margin-top: 15px">BẠN BÈ</label>
            <input id="tab-2" type="radio" name="tab" class="mess"><label for="tab-2" class="tab" style="margin-left: 35px; margin-top: 15px">Tin Nhắn</label>
            <div class="menu-form ">
                <div class="d-flex">
                    <div class="info-htm row">
                        <div class="list">
                            <div class="avatar" style="margin-left: 80px">
                                <img src="../images/add.png" id="add" alt="" class="btn-primary" data-bs-toggle="modal"
                                     data-bs-target="#addFriend"/>
                            </div>
                        </div>
                        <div class="info-user" action="/getUsers">
                            {{#each Daty}}
                                <div>ID: {{this._id}}</div>
                                <div>Tên: {{this.name}}</div>
                                <div>Ngày Sinh: {{this.birthday}}</div>
                                <div>Email: {{this.email}}</div>
                                <div>Số Điện Thoại: {{this.number_phone}}</div>
                                <div>Giới Thiệu: {{this.number_phone}}</div>
                                <div>Giới Tính: {{this.sex}}</div>
                                <div>Sở Thích: {{this.interests}}</div>
                                <a data-bs-toggle="modal"
                                   data-bs-target="#edit" class="btn-5">Update</a>
                                <a href="/deleteUsers/{{this._id}}" class="btn-5">DELETE</a>
                                <br>
                                <div> -------------------------------------------</div>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="mess-htm">
                    <div class="messages">
                        <div class="avatar">
                            <img src="images/phamthihang.jpg" alt=""/>
                        </div>
                        <div class="message">
                            <div class="user">Phạm Thị Hằng</div>
                            <div class="text">Cậu đang làm gì đó?</div>
                        </div>
                    </div>
                    <div class="messages">
                        <div class="avatar">
                            <img src="images/thuytrang.jpg" alt=""/>
                        </div>
                        <div class="message">
                            <div class="user">Phạm Thị Thùy Trang</div>
                            <div class="text" id="text-1">Làm quen không em trai?</div>
                        </div>
                    </div>
                    <div class="messages">
                        <div class="avatar">
                            <img src="images/phamngophuonguyen.jpg" alt=""/>
                        </div>
                        <div class="message">
                            <div class="user">Phạm Ngô Phương Uyên</div>
                            <div class="text">Alo !!!</div>
                        </div>
                    </div>
                    <div class="messages">
                        <div class="avatar">
                            <img src="images/kieunguyen.jpg" alt=""/>
                        </div>
                        <div class="message">
                            <div class="user">Nguyễn Kiều</div>
                            <div class="text" id="text-2">Đi chơi vui không anh?</div>
                        </div>
                    </div>
                    <div class="messages">
                        <div class="avatar">
                            <img src="images/hoangthanhthuy.jpg" alt=""/>
                        </div>
                        <div class="message">
                            <div class="user">Hoàng Thanh Thủy</div>
                            <div class="text" id="text-3">Ngủ chưa?</div>
                        </div>
                    </div>
                    <div class="messages">
                        <div class="avatar">
                            <img src="images/tranngochan.jpg" alt=""/>
                        </div>
                        <div class="message">
                            <div class="user">Trần Ngọc Hân</div>
                            <div class="text" id="text-4">Ăn cơm chưa?</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn-5">
                    <i class="fas fa-align-left"></i>
                </button>
            </div>
        </nav>
        <div class="card align-content-center">
            <div class="user">
                <img
                        class="user"
                        src="images/trinhnhahan.jpg"
                        alt=""
                />
                <div class="profile">
                    <div class="name">Trịnh Nhã Hân <span>22</span></div>
                    <div class="local">
                        <i class="fas fa-map-marker-alt"></i>
                        <span>5km</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons">
            <div class="no">
                <i class="fas fa-times"></i>
            </div>

            <div class="heart">
                <i class="fas fa-heart"></i>
            </div>

        </div>

    </div>
</div>


<div class="modal fade " id="addFriend" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class=" modal-dialog ">
        <div class="modal-content">
            <div class="modal-header align-items-center">
                <img src="images/logo_daty.png" width="100px" class="logo-1">
                <h5 class="modal-title" id="staticBackdropLabel-2" style="margin-left: 230px">THÊM BẠN BÈ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="sign-up-htm">
                    <form class="was-validated" action="/users" method="post" enctype="multipart/form-data">
                        <div class="group">
                            <label class="label">Họ Và Tên</label>
                            <input name="name" id="fullname" type="text" class="form-control is-invalid"
                                   placeholder="VD: Trương Quang Long" required>

                        </div>
                        <div class="group">
                            <label class="label">Ngày Sinh</label>
                            <input name="birthday" id="birthday" type="date" class="form-control is-invalid"
                                   placeholder="VD: 26/09/2000" required>

                        </div>
                        <div class="group">
                            <label class="label">Email</label>
                            <input name="email" id="email" type="email" class="form-control is-invalid"
                                   placeholder="VD: tlong4856@gmail.com" required>

                        </div>
                        <div class="group">
                            <label class="label">Số Điện Thoại</label>
                            <input name="number_phone" id="number" type="tel" class="form-control is-invalid"
                                   placeholder="VD: 0389127389"
                                   required>

                        </div>
                        <div class="group">
                            <label for="validationTextarea" class="label">Giới Thiệu Ngắn</label>
                            <textarea name="introduce" class="form-control is-invalid" id="validationTextarea"
                                      placeholder="VD: Nhà tôi ở Cần Thơ. Bạn gái tôi tên Thảo,.... "
                                      required></textarea>

                        </div>
                        <div class="group">
                            <label class="label">Giới Tính</label>
                            <div class="form-check">

                                <input type="radio" class="form-check-input" id="validationFormCheck2"
                                       name="sex" required value="Nam">
                                <label class="form-check-label" for="validationFormCheck2">Nam</label>

                            </div>
                            <div class="form-check group">
                                <input type="radio" class="form-check-input" id="validationFormCheck3"
                                       name="sex" required value="Nữ">
                                <label class="form-check-label" for="validationFormCheck2">Nữ</label>


                            </div>
                        </div>
                        <label for="validationTextarea" class="label">Sở Thích</label>
                        <div class="group row" style="margin-left: 25px">
                            <input type="checkbox" class="btn-check" id="btn-check-1-outlined" name="interests"
                                   value="Bún Đậu">
                            <label style="width: 150px; margin: 15px" class="btn btn-outline-secondary"
                                   for="btn-check-1-outlined">Bún Đậu</label><br>
                            <input type="checkbox" class="btn-check" id="btn-check-2-outlined" name="interests"
                                   value="Đá Bóng">
                            <label style="width: 150px; margin: 15px" class="btn btn-outline-secondary"
                                   for="btn-check-2-outlined">Đá Bóng</label><br>
                            <input type="checkbox" class="btn-check" id="btn-check-3-outlined" name="interests"
                                   value="Cầu Long">
                            <label style="width: 150px; margin: 15px" class="btn btn-outline-secondary"
                                   for="btn-check-3-outlined">Cầu Lông</label><br>
                            <input type="checkbox" class="btn-check" id="btn-check-4-outlined" name="interests"
                                   value="Ăn Uống">
                            <label style="width: 150px; margin: 15px" class="btn btn-outline-secondary"
                                   for="btn-check-4-outlined">Ăn Uống</label><br>
                            <input type="checkbox" class="btn-check" id="btn-check-5-outlined" name="interests"
                                   value="Câu Cá">
                            <label style="width: 150px; margin: 15px" class="btn btn-outline-secondary"
                                   for="btn-check-5-outlined">Câu Cá</label><br>
                            <input type="checkbox" class="btn-check" id="btn-check-6-outlined" name="interests"
                                   value="Máy Tính">
                            <label style="width: 150px; margin: 15px" class="btn btn-outline-secondary"
                                   for="btn-check-6-outlined">Máy Tính</label><br>
                            <input type="checkbox" class="btn-check" id="btn-check-7-outlined" name="interests"
                                   value="Tiệc Tùng">
                            <label style="width: 150px; margin: 15px" class="btn btn-outline-secondary"
                                   for="btn-check-7-outlined">Tiệc
                                Tùng</label><br>
                            <input type="checkbox" class="btn-check" id="btn-check-8-outlined" name="interests"
                                   value="Ngủ">
                            <label style="width: 150px; margin: 15px" class="btn btn-outline-secondary"
                                   for="btn-check-8-outlined">Ngủ</label><br>
                            <input type="checkbox" class="btn-check" id="btn-check-9-outlined" name="interests"
                                   value="Vape">
                            <label style="width: 150px; margin: 15px" class="btn btn-outline-secondary"
                                   for="btn-check-9-outlined">Vape</label><br>
                            <input type="checkbox" class="btn-check" id="btn-check-10-outlined" name="interests"
                                   value="Học Hành">
                            <label style="width: 150px; margin: 15px" class="btn btn-outline-secondary"
                                   for="btn-check-10-outlined">Học
                                Hành</label><br>
                            <input type="checkbox" class="btn-check" id="btn-check-11-outlined" name="interests"
                                   value="Buôn Bán">
                            <label style="width: 150px; margin: 15px" class="btn btn-outline-secondary"
                                   for="btn-check-11-outlined">Buôn
                                Bán</label><br>
                            <input type="checkbox" class="btn-check" id="btn-check-12-outlined" name="interests"
                                   value="Lập Trình">
                            <label style="width: 150px; margin: 15px" class="btn btn-outline-secondary"
                                   for="btn-check-12-outlined">Lập
                                Trình</label><br>

                        </div>
                        <div class="modal-footer row">
                            <button type="button" class="btn" data-bs-dismiss="modal">Thoát</button>
                            <button type="submit" class="btn">Thêm Bạn Bè</button>
                        </div>

                    </form>
                </div>

            </div>

        </div>
    </div>

</div>
<div class="modal fade " id="edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class=" modal-dialog ">
        <div class="modal-content">
            <div class="modal-header align-items-center">
                <img src="images/logo_daty.png" width="100px" class="logo-1">
                <h5 class="modal-title" id="staticBackdropLabel-3" style="margin-left: 210px">CHỈNH SỬA THÔNG TIN</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="sign-up-htm">
                    <form class="was-validated" action="/update" method="post">
                        <div class="group">
                            <label class="label">Nhập ID người cần chỉnh sửa: </label>
                            <input id="id" type="text" class="form-control is-invalid" name="id"
                                   required>
                        </div>
                        <div class="group">
                            <label class="label">Họ Và Tên</label>
                            <input id="editfullname" type="text" class="form-control is-invalid" name="name"
                                   required>

                        </div>
                        <div class="group">
                            <label class="label">Ngày Sinh</label>
                            <input id="editbirthday" type="date" class="form-control is-invalid" name="birthday"
                                   required>

                        </div>
                        <div class="group">
                            <label class="label">Email</label>
                            <input id="editemail" type="email" class="form-control is-invalid" name="email"
                                   required>

                        </div>
                        <div class="group">
                            <label class="label">Số Điện Thoại</label>
                            <input name="number_phone" id="number" type="tel" class="form-control is-invalid"
                                   placeholder="VD: 0389127389"
                                   required>

                        </div>
                        <div class="group">
                            <label for="validationTextarea" class="label">Giới Thiệu Ngắn</label>
                            <textarea name="introduce" class="form-control is-invalid" id="validationTextarea"
                                      placeholder="VD: Nhà tôi ở Cần Thơ. Bạn gái tôi tên Thảo,.... "
                                      required></textarea>

                        </div>
                        <div class="group">
                            <label class="label">Giới Tính</label>
                            <div class="form-check">

                                <input type="radio" class="form-check-input" id="validationFormCheck2"
                                       name="sex" required value="Nam">
                                <label class="form-check-label" for="validationFormCheck2">Nam</label>

                            </div>
                            <div class="form-check group">
                                <input type="radio" class="form-check-input" id="validationFormCheck3"
                                       name="sex" required value="Nữ">
                                <label class="form-check-label" for="validationFormCheck2">Nữ</label>


                            </div>
                        </div>
                        <!--                        <label for="validationTextarea" class="label">Sở Thích</label>-->
                        <!--                        <div class="group row" style="margin-left: 25px">-->
                        <!--                            <input type="checkbox" class="btn-check" id="btn-check-1-outlined" name="interests"-->
                        <!--                                   value="Bún Đậu">-->
                        <!--                            <label style="width: 150px; margin: 15px" class="btn btn-outline-secondary"-->
                        <!--                                   for="btn-check-1-outlined">Bún Đậu</label><br>-->
                        <!--                            <input type="checkbox" class="btn-check" id="btn-check-2-outlined" name="interests"-->
                        <!--                                   value="Đá Bóng">-->
                        <!--                            <label style="width: 150px; margin: 15px" class="btn btn-outline-secondary"-->
                        <!--                                   for="btn-check-2-outlined">Đá Bóng</label><br>-->
                        <!--                            <input type="checkbox" class="btn-check" id="btn-check-3-outlined" name="interests"-->
                        <!--                                   value="Cầu Long">-->
                        <!--                            <label style="width: 150px; margin: 15px" class="btn btn-outline-secondary"-->
                        <!--                                   for="btn-check-3-outlined">Cầu Lông</label><br>-->
                        <!--                            <input type="checkbox" class="btn-check" id="btn-check-4-outlined" name="interests"-->
                        <!--                                   value="Ăn Uống">-->
                        <!--                            <label style="width: 150px; margin: 15px" class="btn btn-outline-secondary"-->
                        <!--                                   for="btn-check-4-outlined">Ăn Uống</label><br>-->
                        <!--                            <input type="checkbox" class="btn-check" id="btn-check-5-outlined" name="interests"-->
                        <!--                                   value="Câu Cá">-->
                        <!--                            <label style="width: 150px; margin: 15px" class="btn btn-outline-secondary"-->
                        <!--                                   for="btn-check-5-outlined">Câu Cá</label><br>-->
                        <!--                            <input type="checkbox" class="btn-check" id="btn-check-6-outlined" name="interests"-->
                        <!--                                   value="Máy Tính">-->
                        <!--                            <label style="width: 150px; margin: 15px" class="btn btn-outline-secondary"-->
                        <!--                                   for="btn-check-6-outlined">Máy Tính</label><br>-->
                        <!--                            <input type="checkbox" class="btn-check" id="btn-check-7-outlined" name="interests"-->
                        <!--                                   value="Tiệc Tùng">-->
                        <!--                            <label style="width: 150px; margin: 15px" class="btn btn-outline-secondary"-->
                        <!--                                   for="btn-check-7-outlined">Tiệc-->
                        <!--                                Tùng</label><br>-->
                        <!--                            <input type="checkbox" class="btn-check" id="btn-check-8-outlined" name="interests"-->
                        <!--                                   value="Ngủ">-->
                        <!--                            <label style="width: 150px; margin: 15px" class="btn btn-outline-secondary"-->
                        <!--                                   for="btn-check-8-outlined">Ngủ</label><br>-->
                        <!--                            <input type="checkbox" class="btn-check" id="btn-check-9-outlined" name="interests"-->
                        <!--                                   value="Vape">-->
                        <!--                            <label style="width: 150px; margin: 15px" class="btn btn-outline-secondary"-->
                        <!--                                   for="btn-check-9-outlined">Vape</label><br>-->
                        <!--                            <input type="checkbox" class="btn-check" id="btn-check-10-outlined" name="interests"-->
                        <!--                                   value="Học Hành">-->
                        <!--                            <label style="width: 150px; margin: 15px" class="btn btn-outline-secondary"-->
                        <!--                                   for="btn-check-10-outlined">Học-->
                        <!--                                Hành</label><br>-->
                        <!--                            <input type="checkbox" class="btn-check" id="btn-check-11-outlined" name="interests"-->
                        <!--                                   value="Buôn Bán">-->
                        <!--                            <label style="width: 150px; margin: 15px" class="btn btn-outline-secondary"-->
                        <!--                                   for="btn-check-11-outlined">Buôn-->
                        <!--                                Bán</label><br>-->
                        <!--                            <input type="checkbox" class="btn-check" id="btn-check-12-outlined" name="interests"-->
                        <!--                                   value="Lập Trình">-->
                        <!--                            <label style="width: 150px; margin: 15px" class="btn btn-outline-secondary"-->
                        <!--                                   for="btn-check-12-outlined">Lập-->
                        <!--                                Trình</label><br>-->

                        <!--                        </div>-->
                        <div class="modal-footer row">
                            <button type="button" class="btn" data-bs-dismiss="modal">Thoát</button>
                            <button type="submit" class="btn">Chỉnh Sửa</button>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });
    var firstTabEl = document.querySelector('#myTab a:last-child')
    var firstTab = new bootstrap.Tab(firstTabEl)

    firstTab.show()


</script>